<app-navbar></app-navbar>
<div class="container-fluid my-4">
    <h1 class="display-6 mx-3">{{titulo}}</h1>
    <div class="row mx-4">
        <div class="col-lg-5">
            <form [formGroup]="form" (ngSubmit)="agregar()">
              <mat-form-field>
                <mat-label>Nombre Completo</mat-label>
                <input matInput value="" formControlName="nombre" maxlength="20"
                    [class.text-success]="form.controls.nombre.status == 'VALID'"
                    [class.text-danger]="form.controls.nombre.status == 'INVALID'">
              </mat-form-field>
              <mat-form-field>
                <mat-label>Correo</mat-label>
                <input matInput value="" autocomplete="false"formControlName="correo" 
                [class.text-success]="form.controls.correo.status == 'VALID'"
                [class.text-danger]="form.controls.correo.status == 'INVALID'">
              </mat-form-field>
              <mat-form-field>
                <mat-label>Fecha ingreso</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="fecha" 
                [class.text-success]="form.controls.fecha.status == 'VALID'"
                [class.text-danger]="form.controls.fecha.status == 'INVALID'">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker touchUi #picker></mat-datepicker>
              </mat-form-field>
              <mat-form-field>
                <mat-label>Teléfono</mat-label>
                <input matInput value="" formControlName="telefono" 
                [class.text-success]="form.controls.telefono.status == 'VALID'"
                [class.text-danger]="form.controls.telefono.status == 'INVALID'">
              </mat-form-field>
              <mat-form-field>
                <mat-label>Estado civil</mat-label>
                <mat-select formControlName="estadoCivil" 
                [class.text-success]="form.controls.estadoCivil.status == 'VALID'"
                [class.text-danger]="form.controls.estadoCivil.status == 'INVALID'">
                  <mat-option value="Soltero">Soltero</mat-option>
                  <mat-option value="Casado">Casado</mat-option>
                  <mat-option value="Divorciado">Divorciado</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-radio-group aria-label="Select sexo" formControlName="sexo" 
              [class.text-success]="form.controls.sexo.status == 'VALID'"
              [class.text-danger]="form.controls.sexo.status == 'INVALID' && form.controls.sexo.touched == true">
                <mat-radio-button value="Masculino">Masculino</mat-radio-button> &nbsp;
                <mat-radio-button value="Femenino">Femenino</mat-radio-button>
              </mat-radio-group>
                  <div class="text-right">
                    <button type="button" routerLink="" class="btn btn-secondary m-1">Cancelar</button>
                    <button type="submit" class="btn btnx m-1" [disabled]="form.invalid">Aceptar</button>
                  </div>
            </form>
        </div>
        <div class="col-lg-7 text-center">
            <img src="..\assets\img\img.svg" alt="" class="img-fluid">
        </div>
    </div>
</div>