@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 45px;
}

hr {
    border: 1px solid blueviolet;
    margin-top: 0;
    width: 20rem;
}

i{
    cursor: pointer;
    color:blueviolet;
    font-size: large;
}

button {
    height: 2.5rem;
}

th{
    background-color: #b8d0eb;
}

th.mat-sort-header-sorted {
    color: black;
  }
