
.btnx {
    background-color: blueviolet;
    color: white;
}

.btnx:hover {
    background-color: #a663cc;
    color: white;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

table, .mat-form-field, .mat-paginator {
    width: 100%;
}